body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    background-image: url('ppp.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 20%;
}
